  <div class="d-flex flex-row">
    <%= link_to gravatar_for(@article.user, size: 50), user_path(@article.user), class: "me-3" %>
    <div class="d-flex flex-column align-items-start text-muted">
      <span><%= @article.user.username %></span>
      <span><%= time_ago_in_words(@article.created_at) %> ago</span>
    </div>
  </div>