<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= truncate(article.description, :length => 100) %></p>
    <%= link_to 'Rread tha...', article_path(article), class: "btn btn-primary" %>
  </div>
</div>