  <div class="banner become-author card">
    <div class="banner__body card-body">
      <div class="banner__body__title card-title">Become a writerrr</div>
      <p>Write something about brrainzz</p>
      <%= link_to 'Whargarbl', new_article_path, class: "banner__button btn btn-outline-light" %>
    </div>
  </div>