  <div class="banner become-author card">
    <div class="banner__body card-body">
      <div class="banner__body__title card-title">Become a writerrr</div>
      <p>Write something about brrainzz</p>
      <a href="#" class="banner__button btn btn-outline-light">Whargarbl!</a>
    </div>
  </div>