<h1>About page</h1>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Articles CRUD', articles_path %></li>
</ul>
<p>
  <a href="https://github.com/AnimalInstinct/rails-blog" target="_blank">Project Github repository</a>
</p>