<h1>Blogs platform</h1>
<h2 class="mt-4">Features</h2>
<ul>
  <li>Based on Ruby on Rails 6</li>
  <li>Custom auth without dependencies</li>
  <li>Mobile first Bootstrap 5 template</li>
</ul>
<h2 class="mt-4">Links</h2>
<p>
  <a href="https://github.com/AnimalInstinct/rails-blog" target="_blank">Project Github repository</a>
</p>
<p>
  <a href="https://wakatime.com/@AnimalInstinct/projects/jauhcwwvqu?start=2021-05-30&end=2021-06-05" target="_blank">Project WakaTime report</a>
</p>