<div class="homepage">
  <div class="hero">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="header">Join our community</span>
      <%= link_to 'Whargarbl!', signup_path, class: "btn btn-success btn-large mt-3" %>
    </div>
  </div>
</div>